/mpxj.jar
/mpxj-test.jar
/target
/lib
/src.net/lib/**/junit.dll
/src.net/lib/**/mpxj*.dll
/src.net/lib/**/poi*.dll
/src.net/lib/**/commons-*.dll
/src.net/lib/**/log4j*.dll
/src.net/lib/**/rtfparserkit*.dll
/src.net/lib/**/sqlite-jdbc*.dll
/src.net/lib/**/jsoup*.dll
/src.net/lib/**/jackcess*.dll
/src.net/lib/**/jakarta*.dll
/src.net/lib/**/istack*.dll
/src.net/lib/**/MpxjUtilities.dll
/src.net/lib/**/*.tlb
/src.net/lib/**/*.bat
/src.net/**/bin
/src.net/**/obj
/src.net/**/*.user
/src.net/**/*.suo
/src.net/**/*.vs
/src.ruby/mpxj/doc
/src.ruby/mpxj/legal
/src.ruby/mpxj/pkg
/src.ruby/mpxj/Gemfile.lock
/src.ruby/mpxj/.yardoc
/src.ruby/mpxj/lib/mpxj/*.jar
/src.python/mpxj/build
/src.python/mpxj/dist
/src.python/mpxj/legal
/src.python/mpxj/mpxj/lib
/src.python/mpxj/mpxj.egg-info
/mkdocs/docs/CHANGELOG.md
/dist