/classes
/classes.test
/mpxj.jar
/mpxj-test.jar
/.fbprefs
/doc/api
/lib.net/junit.dll
/lib.net/mpxj*.dll
/lib.net/poi*.dll
/lib.net/commons-collections*.dll
/lib.net/rtfparserkit*.dll
/lib.net/sqlite-jdbc*.dll
/lib.net/MpxjUtilities.dll
/lib.net/*.tlb
/lib.net/*.bat
/src.net/**/bin
/src.net/**/obj
/src.net/**/*.user
/src.net/*.suo
/maven/target
/maven/src/main
/maven/src/test
/src.ruby/mpxj/doc
/src.ruby/mpxj/legal
/src.ruby/mpxj/pkg
/src.ruby/mpxj/Gemfile.lock
/src.ruby/mpxj/.yardoc
/src.ruby/mpxj/lib/mpxj/*.jar
/classes/
/classes.test/
/classes/
/classes.test/
