/mpxj.jar
/mpxj-test.jar
/target
/lib
/lib.net/**/junit.dll
/lib.net/**/mpxj*.dll
/lib.net/**/poi*.dll
/lib.net/**/commons-*.dll
/lib.net/**/rtfparserkit*.dll
/lib.net/**/sqlite-jdbc*.dll
/lib.net/**/jsoup*.dll
/lib.net/**/MpxjUtilities.dll
/lib.net/**/*.tlb
/lib.net/**/*.bat
/src.net/**/bin
/src.net/**/obj
/src.net/**/*.user
/src.net/*.suo
/src.ruby/mpxj/doc
/src.ruby/mpxj/legal
/src.ruby/mpxj/pkg
/src.ruby/mpxj/Gemfile.lock
/src.ruby/mpxj/.yardoc
/src.ruby/mpxj/lib/mpxj/*.jar
/src.python/mpxj/build
/src.python/mpxj/dist
/src.python/mpxj/legal
/src.python/mpxj/mpxj/lib
/src.python/mpxj/mpxj.egg-info
/mkdocs/docs/CHANGELOG.md